<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Change email</title>
</head>
<body>
    <form method="post" action="{{ url('change_email') }}" style="line-height: 26px;">
        <input type="text" name="oldEmail" placeholder="Old email..."><br>
        <input type="text" name="newEmail" placeholder="New email..."><br>
        <input type="text" name="repeatEmail" placeholder="Repeat email..."><br>
        <input type="submit" value="Zmień" style="text-align: center;">
    </form>
</body>
</html>
